<nav class="navbar navbar-dark bg-dark px-5">
  <a class="navbar-brand text-white">Finance Admin Panel</a>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">
    Logout
  </button>
</nav>

<div class="container mt-5" *ngIf="userDetails && res">
  <h1 class="mb-5">Hello, {{ userDetails.fullname }}</h1>
  <main class="grid mb-5">
    <article style="background-color: #a0d9959a">
      <div class="text">
        <h2>{{ res?.totalUsers }}</h2>
        <h6>Total Users <i class="fa-solid fa-arrow-right-long"></i></h6>
      </div>
    </article>
    <article style="background-color: #b4eaff93">
      <div class="text">
        <h2>{{ res?.adminUser }}</h2>

        <h6>Admin Users <i class="fa-solid fa-arrow-right-long"></i></h6>
      </div>
    </article>

    <article style="background-color: #b2a4ff9a">
      <div class="text">
        <h2>{{ res?.userCount }}</h2>
        <h6>Customer Users <i class="fa-solid fa-arrow-right-long"></i></h6>
      </div>
    </article>

    <article style="background-color: #ffb4b493">
      <div class="text">
        <h2>{{ res?.deactivatedAccount }}</h2>
        <h6>Deativated Account <i class="fa-solid fa-arrow-right-long"></i></h6>
      </div>
    </article>
  </main>
  <div class="customTable">
    <h1 class="mb-5">All Admin Users</h1>
    <div class="SearchField">
      <div>
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <div class="inputField">
        <input
          type="text"
          placeholder="Enter username, email and full name to Search"
          name="search"
          [(ngModel)]="searchValue"
          (ngModelChange)="Search()"
        />
      </div>
    </div>
    <div>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">User Id</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of res.adminList
                | paginate: { itemsPerPage: 5, currentPage: paginationNumber1 }
            "
          >
            <th style="width: 30%" scope="row">{{ item.id }}</th>
            <td>{{ item.fullName }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.userName }}</td>
          </tr>
        </tbody>
        <div>
          <pagination-controls
            (pageChange)="paginationNumber = $event"
          ></pagination-controls>
        </div>
      </table>
    </div>
  </div>

  <div class="customTable mt-5">
    <h1 class="mb-5">All Customer Users</h1>
    <div class="SearchField">
      <div>
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <div class="inputField">
        <input
          type="text"
          placeholder="Enter username, email and full name to Search"
          name="search"
          [(ngModel)]="searchUserValue"
          (ngModelChange)="SearchUser()"
        />
      </div>
    </div>
    <div>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">User Id</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">Activation Status</th>
            <th scope="col">Created At</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of res.userList
                | paginate: { itemsPerPage: 5, currentPage: paginationNumber2 }
            "
            (click)="getDetails(item.userid)"
          >
            <th style="width: 20%" scope="row">{{ item.userid }}</th>
            <td>{{ item.fullName }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.username }}</td>
            <td>{{ item.isActivated }}</td>
            <td>{{ item.createdAt }}</td>
          </tr>
        </tbody>
        <div>
          <pagination-controls
            (pageChange)="paginationNumber = $event"
          ></pagination-controls>
        </div>
      </table>
    </div>
  </div>
</div>
