<ul class="cards">
  <li class="cards_item" *ngFor="let item of data">
    <div class="card">
      <div class="card_image">
        <img [src]="item.img" />
      </div>
      <div class="card_content">
        <div class="d-flex justify-content-between align-items-center">
          <h2 class="text-black">{{ item.productName }}</h2>
          <h6 class="headerPill">
            {{ item.rating }}
            <i style="color: gold" class="fa-solid fa-star"></i>
          </h6>
        </div>

        <h4 class="text-black">${{ item.totalCost }}</h4>
        <p class="text-black">No cost EMI Starts at {{ item.emiCost }}</p>
        <button
          class="btn btn-primary w-100"
          (click)="handleClick(item.productId)"
        >
          Read More
        </button>
      </div>
    </div>
  </li>
</ul>
