<div class="registerForm">
  <div class="LoginShadow">
    <h1 class="text-center">Reset Password</h1>

    <div style="width: 100%">
      <form
        [formGroup]="service.formModelReset"
        autocomplete="off"
        (submit)="onSubmit()"
      >
        <div class="form-group required inputField">
          <input placeholder="Email*" formControlName="Email" type="email" />
          <label
            class="text-danger"
            *ngIf="
              service.formModelReset.get('Email').touched &&
              service.formModelReset.get('Email').errors?.required
            "
            >Email address is required</label
          >
          <label
            class="text-danger"
            *ngIf="
              service.formModelReset.get('Email').touched &&
              service.formModelReset.get('Email').invalid
            "
            >Enter Valid Email</label
          >
        </div>

        <div class="row" formGroupName="Passwords">
          <div class="form-group required inputField">
            <input
              type="password"
              placeholder="New Password*"
              formControlName="Password"
            />
            <label
              class="text-danger"
              *ngIf="
                service.formModelReset.get('Passwords.Password').touched &&
                service.formModelReset.get('Passwords.Password').errors
                  ?.required
              "
              >This field is mandatory.</label
            >
            <label
              class="text-danger"
              *ngIf="
                service.formModelReset.get('Passwords.Password').touched &&
                service.formModelReset.get('Passwords.Password').errors
                  ?.minlength
              "
              >Minimum 4 characters required.</label
            >
          </div>
          <div class="form-group required inputField">
            <input
              type="password"
              placeholder="New Confirm Password"
              formControlName="ConfirmPassword"
            />
            <label
              class="text-danger"
              *ngIf="
                service.formModelReset.get('Passwords.ConfirmPassword')
                  .touched &&
                service.formModelReset.get('Passwords.ConfirmPassword').errors
                  ?.required
              "
              >This field is mandatory.</label
            >
            <label
              class="text-danger"
              *ngIf="
                service.formModelReset.get('Passwords.ConfirmPassword')
                  .touched &&
                service.formModelReset.get('Passwords.ConfirmPassword').errors
                  ?.passwordMismatch
              "
              >Confirm Password does not match.</label
            >
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <button
              type="submit"
              class="submitBtn"
              [disabled]="!service.formModelReset.valid"
            >
              Reset Password
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
