<div class="container">
  <div class="col=md-12">
    <div
      class="d-flex justify-content-center flex-column align-items-center"
      style="height: 100vh"
    >
      <h3 class="mb-5">
        Access Denied, You don't have permission to access this resource.
        Contact Administrator
      </h3>
      <div style="width: 300px" class="mb-5">
        <img
          src="../../assets/accessDenied.svg"
          alt="access denied"
          height="auto"
          width="100%"
        />
      </div>

      <p>If you are admin, go to <a href="/admin/dashboard">Admin</a></p>
      <p>If you are Customer, go to <a href="/home/dashboard">Customer</a></p>
    </div>
  </div>
</div>
