<div class="customTable m-5" *ngIf="data">
  <h1 class="mb-3">All Pending EMIs</h1>
  <div class="SearchField">
    <div>
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="inputField">
      <input
        type="text"
        placeholder="Enter product Name to search"
        name="search"
        [(ngModel)]="searchUserValue"
        (ngModelChange)="SearchUser()"
      />
    </div>
  </div>
  <div>
    <div
      *ngFor="
        let item of data.orderHistory
          | paginate: { itemsPerPage: 5, currentPage: paginationNumber2 }
      "
    >
      <div class="transactionBox" *ngIf="!item.isEmiCompleted">
        <div class="row">
          <div class="col-md-2 mb-3">
            <img [src]="item.productImg" alt="" width="100%" height="auto" />
          </div>
          <div class="col-md-7">
            <h4>{{ item.productName }}</h4>

            <h6 class="mt-4">Order Id: {{ item.orderId }}</h6>
            <h6 class="mb-4">
              Order Created At:
              {{
                item.orerCreatedAt.substring(
                  0,
                  item.orerCreatedAt.indexOf("T") + 0
                )
              }}
            </h6>
          </div>
          <div class="col-md-3">
            <div class="headerPill">
              <div>
                Total Amount:
                <span style="font-weight: 600">${{ item.totalAmount }}</span>
              </div>
              <div>
                Remaining Amount:
                <span style="font-weight: 600">
                  ${{ item.remainingBalance }}
                </span>
              </div>
              <div>
                Amount Paid:
                <span style="font-weight: 600"> ${{ item.amountPaid }}</span>
              </div>
            </div>
          </div>
        </div>

        <hr />
        <div class="responsiveStyle mb-3">
          <h4 class="mb-2">
            Pending Emi Installments: {{ item.pendingEmiInstallment }}
          </h4>
          <div *ngIf="!item.isEmiCompleted">
            <button
              
              class="btn btn-primary"
              style="width: 100%"
              (click)="payNow(item)"
            >
              Pay Now
            </button>
          </div>
        </div>
        <div class="mb-4 d-flex justify-content-start flex-wrap">
          <div class="headerPillDanger3 m-2">
            <div>Emi Amount: ${{ item.emiAmount }}</div>
          </div>
          <div class="headerPillDanger3 m-2">
            <div>
              Emi Starts At:
              {{
                item.emiInitialDate.substring(
                  0,
                  item.emiInitialDate.indexOf("T") + 0
                )
              }}
            </div>
          </div>
          <div class="headerPillDanger3 m-2">
            <div>
              Next Emi Date:
              {{
                item.emiNextDate.substring(0, item.emiNextDate.indexOf("T") + 0)
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <pagination-controls
        (pageChange)="paginationNumber2 = $event"
      ></pagination-controls>
    </div>
  </div>
</div>
