.HomeBanner {
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
  min-height: 100vh;
  position: relative;
  .navbarHome {
    padding: 12px 30px;
    position: fixed;
    z-index: 10;
    top: 0;
    .LogoBanner {
      font-family: "Bodoni Moda", serif;
      color: white;
      font-size: 50px;
    }
    width: 100%;
    /* From https://css.glass */
    background: rgba(114, 114, 114, 0.36);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(6.7px);
  }

  .LoginBtn {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 7px 24px;
    border-radius: 8px;
    transition: all 0.3s ease;
    border: none;
    &:hover {
      background-color: rgb(121, 121, 121);
      color: white;
      border: none;
    }
  }
}
.mainLine {
  color: goldenrod;
}
.RightHeader {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  .BannerHeader {
    color: white;
    font-family: "Bodoni Moda", serif;
    font-weight: 600;
  }
  .Subheader {
    color: rgb(154, 154, 154);
  }
}

.FeatureBox {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin: 20px;
  border-radius: 12px;
  padding: 21px;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    transform: translateY(-10px);
  }
  .FeatureValue {
    margin-top: 20px;
  }
}

.RegisterBtn {
  background-color: rgb(161, 120, 16);
  color: white;
  padding: 7px 24px;
  border-radius: 8px;
  transition: all 0.3s ease;
  border: 1px solid goldenrod;

  &:hover {
    background-color: goldenrod;
    color: white;
  }
}

.AboutUsBox {
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}
