<div class="loginForm">
  <div class="LoginShadow">
    <h1 class="text-center">Forget Password</h1>

    <div style="width: 100%">
      <form
        #form="ngForm"
        class="mb-4"
        autocomplete="off"
        (submit)="onSubmit(form)"
      >
        <div class="InputField">
          <input
            #email="ngModel"
            name="email"
            placeholder="Email"
            [(ngModel)]="formModel.email"
            required
            type="email"
            pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
          />
          <div class="text-danger" *ngIf="email.errors?.pattern">
            Enter valid email
          </div>
        </div>
        <div class="form-row">
          <div class="form-group w-full">
            <button type="submit" class="submitBtn" [disabled]="form.invalid">
              Send Link
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="text-center">
      <div>
        Don't have a account?
        <span> <a routerLink="/user/registration">Signup</a></span>
      </div>

      <a routerLink="/admin/login">Login as admin</a>
    </div>
  </div>
</div>
